#container {
    margin: 50px;
    padding: 15px;
    background-color: rgba(255, 234, 234, 0.685);
}

#pageHeader h1 {
   font-size: 35; 
   margin-bottom: 5px;
}

#pageHeader h2 {
   font-size: 20; 
   padding-left:20px;
}

#pageHeader {
    margin-bottom: 10px;
}

#tableSelectionWidget {
    padding: 10px;
    margin-bottom:10px;
    background-color: rgba(255, 192, 203, 0.514);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#tableSelectionWidget #left {
    margin-right: 20px;
}

#tableSelectionWidget #right {
    width: 100px;
}
#tableNameLabel {
    font-size: 25px;
    margin-bottom: 10px;
}

#tableSelectionButtons {
    display:flex;
    flex-direction:column;
}

#categoryLabel {
    margin-bottom:10px;
    padding:5px;
    background-color: rgba(255, 166, 0, 0.562);
}
#categoryLabel span {
    margin-right: 10px;
    padding-top:5px;
    padding-bottom:5px;
    font-size: 20px;
}


#fieldEditor {
    margin-bottom:10px;
    padding:5px;
    background-color: rgba(242, 255, 56, 0.637);
}

#fieldEditor span {
    margin-right: 10px;
    font-size: 20px;
}

#myTable {
    background-color: rgba(255, 0, 0, 0.699);
}
#myTable table {
    table-layout:fixed;
    width:100%;
}
#tabletopheading{
    text-align: center;
    background-color: blue;
}
#tablesideandtable{
    display: flex;
    background-color: green;
}
#tablesideheading {
    width: 50px;
    text-align: center;
}
#tablesideheading-text {
  transform: rotate(-90deg);
text-align: center;
}


#urlView {
    background-color: pink;
}
.blueCell {
    background-color: #77d3fd;
}

th {
    padding: 10px;
}

td {
    text-align: center;
    height: 40px;
}

th:hover {
    background-color: white;
}

td:hover {
    background-color: white;
}
body {
     background-image: url("matrix.jpg");
}
